@font-face {
    font-family: 'redalert';
    src: url(/css/red_alert-webfont.woff2) format('woff2'), url(/css/red_alert-webfont.woff) format('woff');
}

body {
    font-family: redalert;
    font-size: large;
    background-image: url(../images/worldmapwallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
    color: rgb(2, 176, 169);
}

.btn-default {
    border: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(2, 176, 169);
    border-radius: 5px;
}

    .btn-default:hover {
        background-color: rgb(10, 112, 108);
        color: #fff;
    }

.menu-small {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(2, 176, 169, 0.6);
}

    .menu-small h1, h2, h3 {
        text-align: center;
    }

    .menu-small .btn {
        width: 100%;
    }

.menu-big {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(2, 176, 169, 0.6);
}

    .menu-big h1, h2, h3 {
        text-align: center;
    }

    .menu-big .btn {
        width: 100%;
    }

.slider {
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 25px;
    background-color: white;
}

    .slider::-webkit-slider-thumb {
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        background: rgb(2, 176, 169);
    }