@font-face {
    font-family: 'redalert';
    src: url(/css/red_alert-webfont.woff2) format('woff2'), url(/css/red_alert-webfont.woff) format('woff');
}

body {
    font-family: redalert;
    font-size: large;
    background-image: url(../images/worldmapwallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
    color: rgb(2, 176, 169);
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    border: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(2, 176, 169);
    border-radius: 5px;
}

    .btn:hover {
        background-color: rgb(10, 112, 108);
        color: #fff;
    }

.login-form {
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(2, 176, 169, 0.6);
}

    .login-form h2 {
        text-align: center;
    }

    .login-form .btn {
        width: 100%;
    }

.main-menu {
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(2, 176, 169, 0.6);
}

    .main-menu .btn {
        width: 100%;
    }

.mapcreator-form {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(2, 176, 169, 0.6);
}

    .mapcreator-form h1, h3 {
        text-align: center;
    }

.start-game-form {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(2, 176, 169, 0.6);
}

    .start-game-form h2 {
        text-align: center;
    }

.slider {
    -webkit-appearance: none;
    height: 25px;
    background-color: white;
}

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        background: rgb(2, 176, 169);
    }
