body {
    background-image: url(../images/worldmapwallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
    color: rgb(2, 176, 169);
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.login-form {
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(2, 176, 169, 0.6);
}

.main-menu {
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(2, 176, 169, 0.6);
}

.main-menu .btn{
    width: 100%;
}
