@font-face {
    font-family: 'redalert';
    src: url(/css/red_alert-webfont.woff2) format('woff2'), url(/css/red_alert-webfont.woff) format('woff');
}

body {
    font-family: redalert;
    font-size: large;
    padding-top: 50px;
    color: rgb(2, 176, 169);
}

h1, h2, h3 {
    text-align: center;
}

.btn {
    width: 100%;
}

.btn-default {
    border: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(2, 176, 169);
    border-radius: 5px;
}

    .btn-default:hover {
        background-color: rgb(10, 112, 108);
        color: #fff;
    }

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

    .row.no-gutter [class*='col-']:not(:first-child),
    .row.no-gutter [class*='col-']:not(:last-child) {
        padding-right: 0;
        padding-left: 0;
    }

.layout {
    background-image: url(../images/interface/worldmapwallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.gamelayout {
    background-color: black;
    color: rgb(2, 176, 169);
}

    .gamelayout .world-map {
        width: 100%;
        min-height: 90vh;
        max-height: 90vh;
        overflow: scroll;
        border: 10px;
        border-style: solid;
        border-radius: 5px;
        border-color: #232322;
    }

        .gamelayout .world-map > img {
            width: 200%;
        }

    .gamelayout .control-panel {
        min-height: 90vh;
        max-height: 90vh;
    }

    .gamelayout .panel {
        background-color: #232322;
        border: none;
    }

    .gamelayout .panel-default {
        border-color: #ddd;
    }

    .gamelayout .panel-heading {
        background-color: #02b0a9;
        border: none;
    }

    .gamelayout .panel-body {
        padding: unset;
    }

.menu {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(2, 176, 169, 0.6);
}

.menu-welcome {
    margin-left: 15%;
    margin-right: 15%;
}

.menu-main {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.menu-small {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

.menu-big {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.slider {
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 25px;
    background-color: white;
}

    .slider::-webkit-slider-thumb {
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        background: rgb(2, 176, 169);
    }

.mappreview {
    width: 100%;
    position: relative;
}

#previewborder {
    position: relative;
    z-index: 2;
    width: 100%;
}

#preview {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    width: 100%;
    padding: 11.5%;
}

.pre-scrollable {
    overflow-x: hidden;
}