body {
    background-image: url(../images/worldmapwallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

