<div class="form-group col-md-8 col-md-offset-2">
    <textarea class="form-control" rows="5" placeholder="Chat..."></textarea>
    <br />
    <button type="button" class="btn btn-default btn-group-justified">Send Message</button>
</div>