<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RA4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="layout">

    <audio src="~/music/soviet_march.mp3" autoplay loop></audio>

    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    @if ((string)ViewData["Title"] != "Main Menu")
                    {
                        <a class="navbar-brand" asp-controller="MainMenu" asp-action="Index">Main Menu</a>}
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a asp-controller="Account" asp-action="Settings">Settings</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>}
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/music.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)

</body>
</html>
