<script>
    window.onload = function () {
        GetPreview("DesertMap3");
    }
</script>

<div class="mappreview">
    <img id="previewborder" src="~/images/interface/previewborder.png" />
    <img id="preview" src="~/images/interface/preview.gif" />
</div>