@model MapListViewModel

<script>
    window.onload = function () {
        GetUserMaps();
    }
</script>

<div id="MapList" class="list-group">
    @if (Model != null && Model.Maps.Count != 0)
    {
        <div class="pre-scrollable">
            @foreach (string map in Model.Maps)
            {
                <a class="list-group-item" id="@map" onclick="GetPreview('@map')">@map</a>

            }
        </div>
    }
    else
    {
        <a class="list-group-item list-group-item-danger">You don't have any maps yet.</a>
    }
</div>