<div class="form-group">
    <input class="form-control" placeholder="Player Name">
</div>
<div class="form-group">
    <select class="form-control" title="Faction">
        <option value="1" selected>USA</option>
        <option value="2">Soviet Union</option>
        <option value="3">Japan</option>
        <option value="4">Nazi Germany</option>
    </select>
</div>
<div class="form-group">
    <select class="form-control">
        <option value="1" selected>Leader</option>
    </select>
</div>
<div class="form-group">
    <input class="form-control" type="color" value="#0000ff"/>
</div>