<div class="form-group">
    <label class="col-md-2 col-md-offset-2">Resources:</label>
    <div class="col-md-6">
        <input class="col-md-10 slider" type="range" min="5000" max="50000" value="10000">
    </div>
</div>