<div style="width: 100%; position: relative;">
    <img id="previewborder" src="~/images/previewborder.png" style="width: 100%; position:relative; z-index: 2;" />
    <img id="mappreview" src="~/images/preview.gif" alt="Map Preview" style=" width: 100%; padding: 11.5%; position:absolute; right: 0px; z-index: 1;">
</div>