@{
    ViewData["Title"] = "Singleplayer";
}

<div class="row menu menu-big">
    <h1>Singleplayer</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group col-md-6">
                    <h2>Player 1</h2>
                    @await Html.PartialAsync("_PlayerOptions")
                </div>
                <div class="form-group col-md-6">
                    <h2>Computer</h2>
                    @await Html.PartialAsync("_PlayerOptions")
                </div>
            </div>
            <div class="row">
                @await Html.PartialAsync("_StartGameOptions")
            </div>
        </div>
        <div class="col-md-3">
            <h2>Map List</h2>
            @await Html.PartialAsync("_MapList")
        </div>
        <div class="col-md-3">
            <br />
            @await Html.PartialAsync("_MapPreview")
            <br />
            <div class="btn-group btn-group-justified" role="group">
                <a asp-controller="Game" asp-action="Index">
                    <input type='button' class="btn btn-default" value='Start Game' />
                </a>
            </div>
        </div>
    </div>
</div>