<div class="pre-scrollable">
    @for (var i = 0; i < 12; i++)
    {
        <div>
            <img class="img-responsive" src="~/images/buildings/factory.png" style="width:100%;"/>
            <button type="button" class="btn btn-default">War Factory</button>
        </div>
    }
</div>