<div class="pre-scrollable" style="max-height: 45vh;">
    @for (int i = 0; i < 12; i++)
    {
        <div>
            <img class="img-responsive" src="~/images/buildings/factory.png" style="width:100%;" />
            <div class="btn-group btn-group-justified" role="group">
                <button type="button" class="btn btn-default">War Factory</button>
            </div>
        </div>
    }
</div>