@{
    ViewData["Title"] = "Game";
    Layout = "_GameLayout";
}

<script>
    window.onload = function () {
        GetTiles();
        GetPreview('DesertMap3');
    }
</script>

<div class="row no-gutter">
    <div class="col-sm-10">
        <br />
        <div class="world-map">
            <img id="worldmap" />
        </div>
    </div>
    <div class="col-sm-2">
        <br />
        <div class="control-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Resources:</h3>
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("_MapPreview")
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Repair</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Sell</button>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-sm-6">
                        <h3>Buildings</h3>
                        @Html.Partial("BuildingList")
                    </div>
                    <div class="col-sm-6">
                        <h3>Units</h3>
                        @Html.Partial("UnitList")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>