@{
    Layout = "_GameLayout";
}

<div class="row no-gutter">
    <div class="col-sm-10">
        <br />
        <div style="width:100%; max-height: 90vh; overflow:scroll">
            <img src="~/images/interface/mappreview.png" style="width: 200%;" />
        </div>
    </div>
    <div class="col-sm-2">
        <br />
        <div class="panel panel-default" style="max-height: 90vh">
            <div class="panel-heading">
                <h3 class="panel-title">Resources:</h3>
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("MapPreview")
                <div class="btn-group btn-group-justified" role="group">
                    <button type="button" class="btn btn-default">Repair</button>
                    <button type="button" class="btn btn-default">Sell</button>
                </div>
                <div class="row no-gutter">
                    <div class="col-sm-6">
                        <h3>Buildings</h3>
                        @await Html.PartialAsync("BuildingList")
                    </div>
                    <div class="col-sm-6">
                        <h3>Units</h3>
                        @await Html.PartialAsync("UnitList")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
