@model KillerAppASP.ViewModels.LoginOrRegisterViewModel

@{ 
    ViewData["Title"] = "Welcome";
}

<div class="row login-form">
    @{ Html.RenderPartial("Login", Model.LoginModel);}
    @{ Html.RenderPartial("Register", Model.RegisterModel);}
</div>
