@{
    ViewData["Title"] = "Welcome";
}

<div class="row menu-small">
    <div class="col-sm-6" id="Login">
        @Html.Partial("Login")
    </div>
    <div class="col-sm-6" id="Register">
        @Html.Partial("Register")
    </div>
</div>