@model KillerAppASP.ViewModels.LoginViewModel

<div class="col-md-4 col-md-offset-2">
    <h2>Login</h2>
    <hr />
    <form asp-controller="Account" asp-action="Login" method="post" class="form-group">
        <div class="form-group">
            <input asp-for="LoginUsername" class="form-control" placeholder="Username" />
            <span asp-validation-for="LoginUsername" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="LoginPassword" class="form-control" placeholder="Password" />
            <span asp-validation-for="LoginPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="LoginRememberMe">
                    <input asp-for="LoginRememberMe" />
                    @Html.DisplayNameFor(m => m.LoginRememberMe)
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-log-in"></span> Login
        </button>
    </form>
</div>