@{
    ViewData["Title"] = "Settings";
}

<div class="row menu menu-small">
    <h1>Settings</h1>
    <hr/>
    <div class="col-sm-4">
        @await Html.PartialAsync("ChangePassword")
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        @await Html.PartialAsync("DeleteAccount")
    </div>
</div>