@model MultiplayerViewModel

<div class="list-group">
    <div class="pre-scrollable">
        @if (Model.userModel != null && Model.userModel.Users.Count != 0)
        {
            foreach (var user in Model.userModel.Users)
            {
                if (user.Username != User.Identity.Name)
                {
                    <a id='@user.UserID' class="list-group-item">
                        @user.Username -
                        @if (user.IsOnline)
                        {
                            <span class="text-success">Online</span>
                        }
                        else
                        {
                            <span class="text-danger">Offline</span>
                            <p>Last Online: @user.LastOnline</p>
                        }
                    </a>
                }
            }
        }
    </div>
</div>