@model UserListViewModel

@{
    ViewData["Title"] = "Lobby";
}

<div class="menu menu-big">
    <h1>Lobby</h1>
    <hr />
    <div class="row">
        <div class="form-group col-md-3">
            <h2>Online Users</h2>
            <div class="form-group">
                <input class="form-control" id="SearchOnlineUsers" type="text" onkeyup="SearchOnlineUsers()" placeholder="Search...">
            </div>
            <div id="OnlineUserList">
                @Html.Partial("OnlineUserList")
            </div>
            <button type="button" class="btn btn-default btn-group-justified">Send Invite</button>
        </div>
        <div class="form-group col-md-3">
            <h2>All Users</h2>
            <div class="form-group">
                <input class="form-control" id="SearchAllUsers" type="text" onkeyup="SearchAllUsers()" placeholder="Search...">
            </div>
            <div id="AllUserList">
                @Html.Partial("AllUserList")
            </div>
            <button type="button" class="btn btn-default btn-group-justified">Send Invite</button>
        </div>
        <div class="col-md-3">
            <h2>Global Chat</h2>
            @Html.Partial("_ChatWindow")
        </div>
        <div class="form-group col-md-3">
            <h2>Invites</h2>
            <a asp-controller="Multiplayer" asp-action="Index">
                <input type='button' class="btn btn-default" value='Start Game' />
            </a>
        </div>
    </div>
</div>