@model MultiplayerViewModel

<div class="list-group">
    <div class="pre-scrollable">
        @if (Model.userModel != null && Model.userModel.Users.Count != 0)
        {
            foreach (var user in Model.userModel.Users)
            {
                if (user.Username != User.Identity.Name && user.IsOnline)
                {
                    <a id='@user.UserID' class="list-group-item">@user.Username</a>
                }
            }
        }
    </div>
</div>