@{
    ViewData["Title"] = "Main Menu";
}

<div class="row" style="margin-top: 2%;">
    <div class="col-sm-6 col-sm-offset-3">
        <img class="main-logo" src="~/images/interface/red-alert-logo.png" style="width: 100%;" />
    </div>
</div>
<div class="row menu menu-main">
    <div class="col-sm-4">
        <img src="~/images/interface/united-states.jpg" class="img-responsive" alt="United States">
        <br />
        <br />
        <img src="~/images/interface/soviet-union.jpg" class="img-responsive" alt="Soviet Union">
    </div>
    <div class="col-sm-4">
        <h1>Main Menu</h1>
        <hr />
        <div class="form-group">
            <a asp-controller="Singleplayer" asp-action="Index">
                <input type='button' class="btn btn-default btn-lg" value='Singleplayer' />
            </a>
        </div>
        <div class="form-group">
            <a asp-controller="Multiplayer" asp-action="Lobby">
                <input type='button' class="btn btn-default btn-lg" value='Multiplayer' />
            </a>
        </div>
        <div class="form-group">
            <a asp-controller="MapCreator" asp-action="Index">
                <input type='button' class="btn btn-default btn-lg" value='Map Creator' />
            </a>
        </div>
        <div class="form-group">
            <a asp-controller="Account" asp-action="Settings">
                <input type='button' class="btn btn-default btn-lg" value='Settings' />
            </a>
        </div>
        <div class="form-group">
            <a asp-controller="Account" asp-action="Logout">
                <input type='button' class="btn btn-default btn-lg" value='Logout' />
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <img src="~/images/interface/japan.jpg" class="img-responsive" alt="Japan">
        <br />
        <br />
        <img src="~/images/interface/nazi-germany.jpg" class="img-responsive" alt="Nazi Germany">
    </div>
</div>