@model GenerateMapViewModel

<h2>Generate Map</h2>
<form asp-controller="MapCreator" asp-action="GenerateMap">
    <div class="form-group">
        <input asp-for="Name" class="form-control" type="text" placeholder="Map Name">
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label>Size:</label>
        </div>
        <div class="col-md-10">
            <input type="range" min="200" max="800" class="col-md-10 slider" asp-for="Size">
        </div>
    </div>
    <div class="form-group">
        <select asp-for="GroundType" id="inputState" class="form-control">
            <option value="0" selected>Grass</option>
            <option value="1">Snow</option>
            <option value="2">Desert</option>
        </select>
    </div>
    <div class="form-group">
        <select asp-for="MapType" id="inputState" class="form-control">
            <option value="0" selected>Continent</option>
            <option value="1">Island</option>
        </select>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <input asp-for="HasLakes" class="form-check-input" type="checkbox">
            <label>Add Lakes</label>
        </div>
        <div class="col-md-6">
            <input asp-for="HasRivers" class="form-check-input" type="checkbox">
            <label>Add Rivers</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label>Seed:</label>
        </div>
        <div class="col-md-10">
            <input asp-for="Seed" class="form-control" type="number" value="1" min="1" max="1000">
        </div>
    </div>
    <br/>
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group">
            <input id="generatemap" type="button" class="btn btn-default" onclick="GenerateMap()" value="Generate Map">
        </div>
        <div class="btn-group">
            <input id="savemap" type="button" class="btn btn-default" onclick="SaveMap()" value="Save Map">
        </div>
    </div>
</form>