@{
    ViewData["Title"] = "Map Creator";
}

<div class="row menu-big">
    <h1>Map Creator</h1>
    <hr />
    <div class="col-md-4">
        @Html.Partial("GenerateMap")
    </div>
    <div class="col-md-4">
        <h2>Saved Maps</h2>
        @Html.Partial("MapList")
        <div class="btn-group btn-group-justified" role="group">
            <button type="button" class="btn btn-danger" onclick="DeleteMap()">Delete Map</button>
        </div>
    </div>
    <div class="col-md-4">
        <br />
        @Html.Partial("MapPreview")
    </div>
</div>