@{
    ViewData["Title"] = "Map Creator";
}

<div class="row menu menu-big">
    <h1>Map Creator</h1>
    <hr />
    <div class="col-md-4">
        @await Html.PartialAsync("GenerateMap")
    </div>
    <div class="col-md-4">
        <h2>Saved Maps</h2>
        @await Html.PartialAsync("MapListWithDelete")
        <div id="result" class="alert alert-danger"></div>
    </div>
    <div class="col-md-4">
        <br />
        @await Html.PartialAsync("_MapPreview")
    </div>
</div>